# Default values for data-access.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

hostname: data-access
image:
  name: ${projectName}-data-access-docker:${version}
  imagePullPolicy: Always
  dockerRepo: ${dockerProjectRepositoryUrl}
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

service:
  spec:
    ports:
      - name: "8081"
        port: 8081
        targetPort: 8080
      - name: "9000"
        port: 9000
        targetPort: 9000

deployment:
  ports:
    - name: http-1
      containerPort: 8080
      protocol: TCP
    - name: http-2
      containerPort: 9000
      protocol: TCP
  restartPolicy: Always
  env:
    - name: DATA_ACCESS_GRAPHQL_PORT_EXTERNAL
      value: "8081"
    - name: DATA_ACCESS_GRAPHQL_HOST_EXTERNAL
      value: "data-access"

ingress:
  enabled: true
  metadata:
    annotations:
      kubernetes.io/ingress.class: nginx
  hosts:
    - host: data-access-ai.boozallen.github.io
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: data-access
              port:
                number: 8080
  status: 10.192.83.167
