# This file contains the default values for the aiSSEMBLE Spark Infrastructure Helm chart.

aissemble-spark-history-chart:
    service:
      type: LoadBalancer

    ingress:
      enabled: false

aissemble-hive-metastore-service-chart:
  mysql:
    primary:
      persistence:
        enabled: false
    secondary:
      persistence:
        enabled: false