#[[########################################
## CONFIG | Elasticsearch Configs
## See aiSSEMBLE aissemble-elasticsearch-chart: README for more details.
## https://github.com/boozallen/aissemble/
########################################]]#