# Dev values for pipeline invocation service.
aissemble-pipeline-invocation-chart:
  aissemble-quarkus-chart:
    image:
      imagePullPolicy: IfNotPresent
    service:
      type: LoadBalancer
    ingress:
      enabled: false
