#[[########################################
## CONFIG | Elasticsearch Operator Configs
## See aiSSEMBLE aissemble-elasticsearch-operator-chart: README for more details.
## https://github.com/boozallen/aissemble/
########################################]]#