apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app.kubernetes.io/instance: bom-access
    app.kubernetes.io/name: bom-access
  name: boms-notebook
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
