apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app.kubernetes.io/instance: mlruns
    app.kubernetes.io/name: mlruns
  name: mlruns
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi