apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app.kubernetes.io/instance: model
    app.kubernetes.io/name: model
  name: model
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi