apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app.kubernetes.io/instance: spark-event-logging
    app.kubernetes.io/name: spark-event-logging
  name: spark-event-logging
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
