#[[########################################
## CONFIG | Configuration Store Configs
## See aiSSEMBLE aissemble-configuration-store-chart: README for more details.
## https://github.com/boozallen/aissemble/
########################################]]#

aissemble-configuration-store-chart:
  app:
    name: "${appName}"
  image:
    tag: "${versionTag}"

  deployment:
    env:
      - name: KRAUSENING_BASE
        value: /configurations/base
      - name: KRAUSENING_EXTENSIONS
        value: /configurations/env
