---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: {{ .Values.app.name | default .Chart.Name }}
    app.kubernetes.io/version: {{ .Values.app.version | default .Chart.AppVersion }}
  name: {{ .Values.app.name | default .Chart.Name }}
  namespace: {{ .Values.namespaceOverride | default .Release.Namespace}}
spec:
  {{- with .Values.service.ports }}
  ports:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    app.kubernetes.io/name: {{ .Values.app.name | default .Chart.Name }}
    app.kubernetes.io/version: {{ .Values.app.version | default .Chart.AppVersion }}
  type: {{ .Values.service.type }}
