#[[#################################################################################
## CONFIG | Spark Operator Configs                                                ##
## See aiSSEMBLE aissemble-spark-operator-chart: README for more details.         ##
## https://github.com/boozallen/aissemble/                           ##
################################################################################]]##
