sparkApp:
  spec:
    deps:
      packages:
        - mysql:mysql-connector-java:${versionMysqlConnector}
        #if (${enableDeltaSupport})
        - io.delta:delta-spark_2.12:${versionDelta}
        - io.delta:delta-storage:${versionDelta}
        #end
    sparkConf:
      #if ("${sparkExtensions}" != "")
      spark.sql.extensions: "${sparkExtensions}"
      #end
      #if (${enableDeltaSupport})
      spark.sql.catalog.spark_catalog: "org.apache.spark.sql.delta.catalog.DeltaCatalog"
      #end
      #if (${enableHiveSupport})
      spark.sql.catalogImplementation: "hive"
      #end
      spark.driver.host: "localhost"
      spark.master: "local[*]"
