apiVersion: v1
kind: ConfigMap
metadata:
  name: spark-config
data:
  {{- with .Values.configMap.hiveConfig }}
  hive-site.xml:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  {{- with .Values.configMap.sparkDefaults }}
  spark-defaults.conf:
    {{- toYaml . | nindent 8 }}
  {{- end }}