#set ($index = $artifactId.indexOf('-tests'))
#set ($parentArtifactId = $artifactId.substring(0, $index))

image:
  name: ${parentArtifactId}-tests-docker
  imagePullPolicy: IfNotPresent
  dockerRepo: ""
