            <plugin>
                <artifactId>maven-clean-plugin</artifactId>
                <version>${version.clean.plugin}</version>
                <configuration>
                    <filesets>
                        <fileset>
                            <directory>${basedir}/src/main/resources/apps/</directory>
                            <includes>
                                <include>**/target/**</include>
                            </includes>
                        </fileset>
                    </filesets>
                </configuration>
                <executions>
                    <execution>
                        <id>clean-app-target-dirs</id>
                        <phase>clean</phase>
                        <goals>
                            <goal>clean</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>