
You must add the following to Tiltfile to configure it for local deployment!

load('ext://restart_process', 'docker_build_with_restart')

# ${dockerApplicationArtifactId}
docker_build_with_restart(
   ref='${referenceName}',
   context='${dockerArtifactId}/${dockerApplicationArtifactId}',
   live_update=[
      run('cd /modules/${stepName}; for x in *.whl; do pip install $x --no-cache-dir --no-deps --force-reinstall; done')
   ],
   entrypoint='python -m ${stepNameSnakeCase}.inference_api_driver "fastAPI" & python -m ${stepNameSnakeCase}.inference_api_driver "grpc"',
   build_args=build_args,
   dockerfile='${dockerArtifactId}/${dockerApplicationArtifactId}/src/main/resources/docker/Dockerfile'
)
#if(${includeHelmBuild} == true)
#parse( "templates/notifications/notification.helm.tilt.vm" )
#end