                    <execution>
                        <id>${appName}</id>
                        <phase>generate-sources</phase>
                        <goals>
                            <goal>generate-sources</goal>
                        </goals>
                        <configuration>
                            <profile>${profile}</profile>
                            <!-- The property variables below are passed to the Generation Context and utilized
                                 to customize the deployment artifacts. -->
                            <propertyVariables>
                                <appName>${appName}</appName>
                            </propertyVariables>
                        </configuration>
                    </execution>