
Please refer to the documentation at:
https://github.com/boozallen/aissemble/blob/dev/docs/modules/ROOT/pages/machine-learning-pipeline-details.adoc#sagemaker-training

<!--Replace with your ECR registry URL here "aws_account_id.dkr.ecr.aws_region.amazonaws.com"-->
<registry>ECR_REGISTRY_URL</registry>

The build will fail until you do this. To stop the build from failing temporarily, you can set skip to true,
but building and pushing SageMaker model training image to ECR will not work until the field is filled in appropriately.