# For WSL users, the configuration files need to be in an accessible path. Update the project path to the root file system. Example: '/mnt/c' or '/mnt/wsl/rancher-desktop'
project_path = os.path.abspath('.')
# Update configuration_files_path to match the path of the config files to be loaded into the configuration store. Example 'my-project-deploy/src/main/resources/config'
configuration_files_path = ''

load('ext://helm_resource', 'helm_resource')
helm_resource(
    name='${appName}',
    release_name='${appName}',
    chart='${deployArtifactId}/src/main/resources/apps/${appName}',
    namespace='config-store-ns',
    flags=['--values=${deployArtifactId}/src/main/resources/apps/${appName}/values.yaml',
           '--values=${deployArtifactId}/src/main/resources/apps/${appName}/values-dev.yaml',
           '--set=aissemble-configuration-store-chart.aissemble-quarkus-chart.deployment.supplementalVolumes[0].hostPath.path=' + project_path + '/' + configuration_files_path,
           '--create-namespace']
)