<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <parent>
        <groupId>${groupId}</groupId>
        <artifactId>${parentArtifactId}</artifactId>
        <version>${version}</version>
    </parent>

    <artifactId>${moduleArtifactId}</artifactId>
    <packaging>pom</packaging>

    <name>${parentDescriptiveName}::${descriptiveName}</name>
    <description>${pipeline.description}</description>

    <modules>
        <!-- TODO: replace with your step-specific modules here -->
    </modules>

    <build>
        <plugins>
            <plugin>
                <groupId>org.technologybrewery.fermenter</groupId>
                <artifactId>fermenter-mda</artifactId>
                <configuration>
                    <basePackage>${pipeline.package}</basePackage>
                    <profile>machine-learning-pipeline</profile>
                    <propertyVariables>
                        <targetPipeline>${pipeline.name}</targetPipeline>
                    </propertyVariables>
                    <!-- see ${parentArtifactId} for base configuration settings -->
                </configuration>
            </plugin>
<!-- There are a few issues with cucumber reports and ML based pipeline steps. -->
<!-- Once these issues are resolved, this plugin can be enabled -->
<!--
            <plugin>
                <groupId>net.masterthought</groupId>
                <artifactId>maven-cucumber-reporting</artifactId>
            </plugin>
-->
        </plugins>
    </build>

<!-- There are a few issues with cucumber reports and ML based pipeline steps. -->
<!-- Once these issues are resolved, this plugin can be enabled -->
<!--
    <dependencies>
        <dependency>
            <groupId>net.masterthought</groupId>
            <artifactId>cucumber-reporting</artifactId>
        </dependency>
    </dependencies>
-->
</project>
