#[[#################################################################################
## CONFIG | MLflow Configs                                                        ##
## See aiSSEMBLE aissemble-mlflow-chart: README for more details.                 ##
## https://github.com/boozallen/aissemble/                           ##
################################################################################]]##
aissemble-mlflow-chart:
  mlflow:
    tracking:
      service:
        type: LoadBalancer
    externalS3:
      host: "s3-local"
      port: 4566
      protocol: http
      existingSecretAccessKeyIDKey: "AWS_ACCESS_KEY_ID"
      existingSecretKeySecretKey: "AWS_SECRET_ACCESS_KEY"
