#[[#################################################################################
## CONFIG | MLflow Configs                                                        ##
## See Bitnami mlflow: README for more details.                                   ##
## https://github.com/bitnami/charts/blob/main/bitnami/mlflow/README.md           ##
################################################################################]]##
mlflow:
  image:
  registry: docker.io
  repository: bitnami/mlflow
  tag: 2.15.1-debian-12-r0
  pullPolicy: Always
  postgresql:
    enabled: false
  minio:
    enabled: false
  run:
    enabled: false
  tracking:
    auth:
      enabled: false
    service:
      type: ClusterIP
      ports:
        http: 5005
  externalDatabase:
    host: postgres
    port: 5432
    user: postgres
    password: password
    database: db