#[[########################################
## CONFIG | Jenkins Configs
########################################]]#

# To build your own Jenkins controller, use the aissemble-jenkins-docker Fermenter profile and uncomment the following lines
#aissemble-jenkins-chart:
#  jenkins:
#      controller:
#        image: boozallen/${projectName}-jenkins-controller-docker
#        tag: latest