<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

    <parent>
        <groupId>${groupId}</groupId>
        <artifactId>${parentArtifactId}</artifactId>
        <version>${version}</version>
    </parent>

    <packaging>docker-build</packaging>

    <artifactId>${artifactId}</artifactId>

    <name>${parentDescriptiveName}::Airflow</name>
    <description>Build for a Airflow Docker container to orchestrate pipelines</description>
    <modelVersion>4.0.0</modelVersion>

    <build>
        <plugins>
            <plugin>
                <groupId>org.technologybrewery.fermenter</groupId>
                <artifactId>fermenter-mda</artifactId>
                <configuration>
                    <basePackage>com.boozallen.aiops.cookbook</basePackage>
                    <profile>aissemble-airflow-docker</profile>
                </configuration>
            </plugin>
            <plugin>
                <artifactId>maven-resources-plugin</artifactId>
                <executions>
                    <execution>
                        <id>copy-docker-resources</id>
                        <phase>prepare-package</phase>
                        <goals>
                            <goal>copy-resources</goal>
                        </goals>
                        <configuration>
                            <outputDirectory>${project.build.directory}</outputDirectory>
                            <resources>
                                <resource>
                                    <directory>${project.basedir}/src/main/resources/docker</directory>
                                    <filtering>false</filtering>
                                </resource>
                            </resources>
                        </configuration>
                    </execution>
                    <execution>
                        <id>copy-config-resources</id>
                        <phase>prepare-package</phase>
                        <goals>
                            <goal>copy-resources</goal>
                        </goals>
                        <configuration>
                            <outputDirectory>${project.build.directory}/krausening/base</outputDirectory>
                            <resources>
                                <resource>
                                    <directory>${project.basedir}/src/main/resources/krausening/base</directory>
                                    <filtering>false</filtering>
                                </resource>
                            </resources>
                        </configuration>
                    </execution>
                    <execution>
                        <id>copy-airflow-resources</id>
                        <phase>prepare-package</phase>
                        <goals>
                            <goal>copy-resources</goal>
                        </goals>
                        <configuration>
                            <outputDirectory>${project.build.directory}/airflow</outputDirectory>
                            <resources>
                                <resource>
                                    <directory>${project.basedir}/src/main/resources/airflow</directory>
                                    <filtering>false</filtering>
                                </resource>
                            </resources>
                        </configuration>
                    </execution>
                    #foreach (${pipeline} in ${dataFlowPipelines})
                    <execution>
                        <id>copy-${pipeline.deriveArtifactIdFromCamelCase()}-yaml-resources</id>
                        <phase>prepare-package</phase>
                        <goals>
                            <goal>copy-resources</goal>
                        </goals>
                        <configuration>
                            <outputDirectory>${project.basedir}/src/main/jobs/</outputDirectory>
                            <resources>
                                <resource>
                                    <directory>${project.parent.parent.basedir}/${rootArtifactId}-pipelines/${pipeline.deriveArtifactIdFromCamelCase()}/target/apps/</directory>
                                    <filtering>false</filtering>
                                    <excludes>
                                        <exclude>*test-chart.yaml</exclude>
                                    </excludes>
                                </resource>
                            </resources>
                        </configuration>
                    </execution>
                    #end
                </executions>
            </plugin>
            <plugin>
                <groupId>com.boozallen.aissemble</groupId>
                <artifactId>mda-maven-plugin</artifactId>
                <executions>
                    <execution>
                        <id>copy-pipeline-artifacts</id>
                        <phase>prepare-package</phase>
                        <goals>
                            <goal>copy-pipeline-artifacts</goal>
                        </goals>
                    </execution>
                </executions>
                <configuration>
                    <groupId>${project.groupId}</groupId>
                    <modelsArtifactId>${rootArtifactId}-pipeline-models</modelsArtifactId>
                    <pipelinesDirectory>${project.parent.parent.basedir}/${rootArtifactId}-pipelines/</pipelinesDirectory>
                    <outputDirectory>${project.build.directory}/dockerbuild/</outputDirectory>
                    <habushuArtifactVersion>${version.habushu.dist.artifact}</habushuArtifactVersion>
                    <targetPipelineTypes>
                        <targetPipelineType>machine-learning-training</targetPipelineType>
                    </targetPipelineTypes>
                </configuration>
                <dependencies>
                    <dependency>
                        <groupId>${project.groupId}</groupId>
                        <artifactId>${rootArtifactId}-pipeline-models</artifactId>
                        <version>${project.version}</version>
                    </dependency>
                </dependencies>
            </plugin>
        </plugins>
    </build>

</project>
