<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <parent>
        <groupId>${groupId}</groupId>
        <artifactId>${parentArtifactId}</artifactId>
        <version>${version}</version>
    </parent>

    <artifactId>${artifactId}</artifactId>

    <packaging>docker-build</packaging>

    <name>${parentDescriptiveName}::Training</name>
    <description>Build for a SageMaker Training Docker container to run a SageMaker model training job</description>

    <properties>
        <!--various target archiectures can be specified
        via this property as a comma-separated list-->
        <sagemaker.docker.platforms>linux/amd64</sagemaker.docker.platforms>
    </properties>

    <build>
        <plugins>
            <plugin>
                <groupId>org.technologybrewery.fermenter</groupId>
                <artifactId>fermenter-mda</artifactId>
                <configuration>
                    <basePackage>${basePackage}</basePackage>
                    <profile>aissemble-sagemaker-training-docker</profile>
                </configuration>
            </plugin>
            <plugin>
                <groupId>com.boozallen.aissemble</groupId>
                <artifactId>mda-maven-plugin</artifactId>
                <executions>
                    <execution>
                        <id>copy-pipeline-artifacts</id>
                        <phase>prepare-package</phase>
                        <goals>
                            <goal>copy-pipeline-artifacts</goal>
                        </goals>
                    </execution>
                </executions>
                <configuration>
                    <groupId>${project.groupId}</groupId>
                    <modelsArtifactId>${rootArtifactId}-pipeline-models</modelsArtifactId>
                    <pipelinesDirectory>${project.parent.parent.basedir}/${rootArtifactId}-pipelines/</pipelinesDirectory>
                    <outputDirectory>${project.build.directory}/dockerbuild/</outputDirectory>
                    <habushuArtifactVersion>${version.habushu.dist.artifact}</habushuArtifactVersion>
                    <targetPipelineTypes>
                        <targetPipelineType>sagemaker-training</targetPipelineType>
                    </targetPipelineTypes>
                </configuration>
                <dependencies>
                    <dependency>
                        <groupId>${project.groupId}</groupId>
                        <artifactId>${rootArtifactId}-pipeline-models</artifactId>
                        <version>${project.version}</version>
                    </dependency>
                </dependencies>
            </plugin>
            <plugin>
                <groupId>io.fabric8</groupId>
                <artifactId>docker-maven-plugin</artifactId>
                <executions>
                    <execution>
                        <id>multiplatform-build-deploy</id>
                        <phase>prepare-package</phase>
                        <configuration>
                            <images>
                                <image>
                                    <name>${project.artifactId}:latest</name>
                                    <!--Replace with your ECR Registry URL here,
                                        example: "aws_account_id.dkr.ecr.aws_region.amazonaws.com".
                                        The registry value must map to the "id" value
                                        within the associated "server" in your Maven settings.xml file-->
                                    <registry>ECR_REGISTRY_URL</registry>
                                    <build>
                                        <buildx>
                                            <platforms>
                                                <platform>${sagemaker.docker.platforms}</platform>
                                            </platforms>
                                        </buildx>
                                        <args>
                                            <DOCKER_BASELINE_REPO_ID>${docker.baseline.repo.id}/</DOCKER_BASELINE_REPO_ID>
                                            <VERSION_AISSEMBLE>${version.aissemble}</VERSION_AISSEMBLE>
                                        </args>
                                        <contextDir>${project.basedir}</contextDir>
                                        <dockerFile>./src/main/resources/docker/Dockerfile</dockerFile>
                                    </build>
                                </image>
                            </images>
                            <!--Replace with "true" if you want to skip building and pushing
                                the SageMaker model training image to ECR.-->
                            <skip>false</skip>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
</project>
