apiVersion: batch/v1
kind: Job
metadata:
  name: spark-worker-image
  namespace: "${projectName}"
spec:
  backoffLimit: 0
  template:
    spec:
      containers:
        - name: spark-worker-image
          image: boozallen/${projectName}-spark-worker-docker
          command: ["echo"]
      restartPolicy: Never
