#[[########################################
## CONFIG | Hive Metastore DB Configs
## See aiSSEMBLE aissemble-hive-metastore-db-chart: README for more details.
## https://github.com/boozallen/aissemble/
########################################]]#
aissemble-hive-metastore-db-chart:
  app:
    name: ${appName}
  image:
    name: boozallen/aissemble-hive-mysql
    tag: ${versionTag}