<?xml version="1.0" encoding="UTF-8"?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd" xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <modelVersion>4.0.0</modelVersion>
  <parent>
      <groupId>${groupId}</groupId>
      <artifactId>${parentArtifactId}</artifactId>
      <version>${version}</version>
  </parent>
  <artifactId>${artifactId}</artifactId>
  <name>${parentDescriptiveName}::Custom Lineage Consumer Service</name>
  <description>Contains the implementations for supplemental data lineage capabilities</description>

  <dependencyManagement>
    <dependencies>
      <dependency>
        <groupId>io.quarkus</groupId>
        <artifactId>quarkus-bom</artifactId>
        <version>${version.quarkus}</version>
        <type>pom</type>
        <scope>import</scope>
        <exclusions>
          <!-- Quarkus 3.6 uses SmallRye Messaging 4.10, which is incompatible with 4.24. This causes issues for in-memory import -->
          <exclusion>
            <groupId>io.smallrye.reactive</groupId>
            <artifactId>*</artifactId>
          </exclusion>
        </exclusions>
      </dependency>
      <dependency>
        <groupId>io.smallrye.reactive</groupId>
        <artifactId>smallrye-reactive-messaging-api</artifactId>
        <version>${version.smallrye.reactive.messaging}</version>
      </dependency>
    </dependencies>
  </dependencyManagement>

  <properties>
    <quarkus.package.uber-jar>true</quarkus.package.uber-jar>
    <quarkus.package.type>uber-jar</quarkus.package.type>
    <quarkus.package.add-runner-suffix>false</quarkus.package.add-runner-suffix>
  </properties>

  <dependencies>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-smallrye-reactive-messaging</artifactId>
    </dependency>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-smallrye-openapi</artifactId>
      <exclusions>
        <exclusion>
          <groupId>org.jboss.slf4j</groupId>
          <artifactId>slf4j-jboss-logmanager</artifactId>
        </exclusion>
      </exclusions>
    </dependency>

<!--    SMALLRYE CONNECTORS-->
    <dependency>
      <groupId>io.smallrye.reactive</groupId>
      <artifactId>smallrye-reactive-messaging-in-memory</artifactId>
      <version>${version.smallrye.reactive.messaging}</version>
    </dependency>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-smallrye-reactive-messaging-amqp</artifactId>
      <scope>runtime</scope>
    </dependency>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-smallrye-reactive-messaging-kafka</artifactId>
      <scope>runtime</scope>
    </dependency>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-smallrye-reactive-messaging-mqtt</artifactId>
      <scope>runtime</scope>
    </dependency>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-smallrye-reactive-messaging-rabbitmq</artifactId>
      <scope>runtime</scope>
    </dependency>
    <dependency>
      <groupId>com.boozallen.aissemble</groupId>
      <artifactId>foundation-data-lineage-consumer</artifactId>
      <version>${version.aissemble}</version>
    </dependency>

<!--    TEST DEPENDENCIES-->
    <dependency>
      <groupId>io.quarkiverse.cucumber</groupId>
      <artifactId>quarkus-cucumber</artifactId>
      <version>0.6.0</version>
      <scope>test</scope>
    </dependency>
    <dependency>
      <groupId>com.boozallen.aissemble</groupId>
      <artifactId>foundation-data-lineage-java</artifactId>
      <version>${version.aissemble}</version>
      <scope>test</scope>
    </dependency>
    <dependency>
        <groupId>io.openlineage</groupId>
        <artifactId>openlineage-java</artifactId>
        <version>0.22.0</version>
    </dependency>
  </dependencies>

  <build>
    <plugins>
      <plugin>
        <groupId>io.quarkus</groupId>
        <artifactId>quarkus-maven-plugin</artifactId>
        <extensions>true</extensions>
        <configuration>
          <skipOriginalJarRename>true</skipOriginalJarRename>
        </configuration>
        <executions>
          <execution>
            <goals>
              <goal>build</goal>
              <goal>generate-code</goal>
              <goal>generate-code-tests</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-install-plugin</artifactId>
        <configuration>
          <classifier>runner</classifier>
        </configuration>
      </plugin>
      <plugin>
        <groupId>org.technologybrewery.fermenter</groupId>
        <artifactId>fermenter-mda</artifactId>
        <configuration>
          <basePackage>${project.groupId}</basePackage>
          <profile>aissemble-data-lineage-custom-consumer</profile>
          <propertyVariables>
            <aissembleVersion>${version.aissemble}</aissembleVersion>
          </propertyVariables>
        </configuration>
      </plugin>
    </plugins>
  </build>
</project>