#[[#################################################################################
## CONFIG | S3 Local Configs                                                      ##
## See aiSSEMBLE aissemble-localstack-chart: README for more details.             ##
## https://github.com/boozallen/aissemble/                           ##
################################################################################]]##
