#[[#################################################################################
## CONFIG | Lineage HTTP Consumer Configs                                         ##
## See aiSSEMBLE aissemble-lineage-http-consumer-chart: README for more details.  ##
## https://github.com/boozallen/aissemble/                           ##
################################################################################]]##
