#[[########################################
## CONFIG | Airflow Configs
########################################]]#
aissemble-airflow-chart:
  airflow:
    defaultAirflowRepository: ghcr.io/boozallen/${projectName}-airflow-docker
    defaultAirflowTag: ${version}
