#[[########################################
## CONFIG | Airflow Configs
########################################]]#
aissemble-airflow-chart:
  airflow:
    logs:
      persistence:
        # Creates a PVC identical to the official airflow PVC for logs except
        # it uses ReadWriteOnce as the access mode to allow for compatibility 
        # with single node clusters.
        # 
        # To disable and use the official PVC, remove the attribute below:
        existingClaim: airflow-logs
    
    
    config:
      kubernetes_executor:
        # Allows the kubernetes executor worker pods to make use of the same image
        # built by tilt. This configuration allows it to use the extra tag assigned
        # to that image
        #
        # In a production environment where your image will have a predictable tag
        # (such as the current project version) this attribute can be removed:
        worker_container_tag: latest

    defaultAirflowRepository: ${projectName}-airflow-docker

    images:
        airflow:
          pullPolicy: IfNotPresent

    webserver:
      service:
        type: LoadBalancer

    ingress:
      web:
        enabled: false

    extraEnv: |
      - name: EXECUTION_ENVIRONMENT
        value: dev