#[[########################################
## CONFIG | Airflow Configs
########################################]]#
aissemble-airflow-chart:
  airflow:
    defaultAirflowRepository: ${dockerProjectRepositoryUrl}${projectName}-airflow-docker
    defaultAirflowTag: ${version}
