# Dev values for model training api.
image:
  dockerRepo: ""

service:
  spec:
    type: LoadBalancer

deployment:
  env:
    - name: KRAUSENING_BASE
      value: /opt/app/resources/config/base
    - name: KRAUSENING_EXTENSIONS
      value: /opt/app/resources/config/extensions

ingress:
  enabled: false
