#[[########################################
## CONFIG | Versioning Configs
########################################]]#

# Versioning
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Override these values for the docker image built from the aiSSEMBLE FastAPI baseline image
aissemble-versioning-chart:
  aissemble-fastapi-chart:
      app:
        name: ${projectName}-versioning
        namespace: ${appName}
      image:
        name: boozallen/${projectName}-versioning
        tag: latest
